.hero-section {
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
    background-image: url('src/assets/headerBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    margin-left: 2rem;
}