.form_wrapper {
    width: 100%;

    height: 4rem;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.drop-down {
    width: 3rem;
    background-color: rgb(186, 241, 182);
    height: 1rem;

}