.form_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 4rem;
    background-color: rgba(1, 1, 29, 0.657);
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.drop-down {
    width: 7rem;
    border-radius: 0.2rem;
    height: 2rem;

}