nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;   
    position: fixed;
    top: 0;
    z-index: 1000; 
    background-color: rgba(51, 51, 51, .3); 

}

.NavBar {
    position: fixed;
    top: 0;
    z-index: 1000; 
    margin: 0;
}

.logo {
    width: 10rem;
    height: 10rem;
}

.bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: white;
    text-decoration: none;
    
    background-color: rgba(128, 128, 128, 0.3);
}