.brew_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:20rem;
    height: 20rem;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
}

.link {
    text-decoration: none;
    color: aliceblue;
}

@media (max-width: 430px) {
    /* iPhone 14 */
    .brew_card {
        width: 15rem;
        height: 15rem;
        margin: 1rem;
        padding: 0.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* iPad */
    .brew_card {
        width: 18rem;
        height: 18rem;
        margin: 1.5rem;
        padding: 0.75rem;
    }
}